* {
  list-style: none;
  margin: 0;
  padding: 0;
}

.headerWrap {
  position: fixed;
  width: 100%;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;

  box-shadow: 1px 1px 8px 1px rgba(94, 93, 93, 0.4);
}
.headerContainer li:nth-child(1) {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 30px;
}
.headerContainer li:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  flex-grow: 5;
}
.headerContainer li:nth-child(3) {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  z-index: 91;
  position: relative;
}
.headerContainer li img {
  margin-bottom: -4px;
}

.open {
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7));
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  top: 60px;
  right: 5%;
}
.close {
  display: none;
}
